{{- if .IsTranslated -}}
{{- if (ne .Layout "search") }}
{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) }}&nbsp;·&nbsp;{{- end -}}
{{- end }}
{{- range .Translations -}}
<a href="{{ .Permalink }}" title="{{ if (and site.Params.displayFullLangName (.Language.LanguageName)) }}{{ .Language.LanguageName }}{{ else }}{{ .Lang | title }}{{ end }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display:inline-block;vertical-align:-0.15em"><path d="m5 8 6 6"/><path d="m4 14 6-6 2-3"/><path d="M2 5h12"/><path d="M7 2h1"/><path d="m22 22-5-10-5 10"/><path d="M14 18h6"/></svg>
</a>
{{- end -}}
{{- end -}}
